code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f7f9fc;
  color: #333;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
}



button {
  cursor: pointer;
}
